# Android ignore rules
*.class
*.log
.gradle
/local.properties
/.idea/
/build/
/app/build/
.DS_Store

# Explicitly track app-debug.apk so it can be committed to Git as requested by the user
!app-debug.apk
