# Built-in Gradle outputs
.gradle/
build/
app/build/

# Android Studio local properties config
local.properties

# Log files
*.log

# Keystore files (keep debug.keystore untracked/private if desired, but we explicitly keep keys intact)
*.keystore
!debug.keystore

# Specifically force git to keep track of the local compiled binary if placed in root
!/app-debug.apk
